#poststuff .nav-pills .nav-link.active,
#poststuff .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #709e30;
}
#poststuff .nav-pills a.nav-link {
  border-radius: 0;
  color: #2f2f2f;
  border: 1px solid #999;
}
#poststuff .nav-pills a.nav-link:focus {
  box-shadow: 0 0 0 1px #709e30, 0 0 2px 1px #305002;
}
#poststuff .nav-pills a.nav-link.disabled {
  color: #bbb;
}
#poststuff .tab-content .tab-pane > .h2 {
  font-size: 25px;
}
#poststuff .postbox-container .inside {
  padding: 0;
  margin: 20px 0;
}
#poststuff .postbox-container .inside .height-500 {
  min-height: 500px;
}
#poststuff .postbox-container .inside .form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #709e30;
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(112, 158, 48, 0.25);
}
#poststuff .postbox-container .inside h1,
#poststuff .postbox-container .inside h2,
#poststuff .postbox-container .inside h3,
#poststuff .postbox-container .inside h4,
#poststuff .postbox-container .inside h5,
#poststuff .postbox-container .inside h6,
#poststuff .postbox-container .inside .h1,
#poststuff .postbox-container .inside .h2,
#poststuff .postbox-container .inside .h3,
#poststuff .postbox-container .inside .h4,
#poststuff .postbox-container .inside .h5,
#poststuff .postbox-container .inside .h6 {
  color: #3f6905;
}
#poststuff .postbox-container .inside h3,
#poststuff .postbox-container .inside .h3 {
  font-size: 23px;
}
#poststuff #accordion {
  padding: 5px 5px 5px 15px;
}
#poststuff #accordion .item {
  border: 1px solid #aaa;
  padding: 5px;
  margin-bottom: 2px;
}
#poststuff #accordion .item a {
  position: relative;
  display: block;
}
#poststuff #accordion .item a:hover {
  color: #709e30;
  text-decoration: underline;
}
#poststuff #accordion .item a:focus {
  box-shadow: none;
}
#poststuff #accordion .item .close {
  float: none;
  top: -5px;
  font-size: 30px;
  position: absolute;
  right: 4px;
  line-height: 1;
  color: #5a1616;
  text-shadow: 0 2px 0 #820b0b;
  opacity: .8;
}
#poststuff #accordion .item .close:hover {
  color: #d60c0c;
  text-decoration: none;
  opacity: 1;
}
#poststuff #accordion #add-new-advantage-more {
  margin-top: 10px;
}
#poststuff #accordion button:focus {
  outline: none;
}
#poststuff .remove-gallery-image:hover {
  color: red;
}
#poststuff div[id*="postbox-container-"] #front-page-metabox h2.hndle {
  color: white;
  background-color: #709e30;
}
#poststuff #front-page-metabox.postbox {
  border: 1px solid #709e30;
}
#poststuff #front-page-metabox.postbox .handlediv .toggle-indicator:before {
  color: white;
}
#poststuff div[id*="postbox-container-"] #one-column-page-metabox h2.hndle {
  color: white;
  background-color: #709e30;
}
#poststuff #one-column-page-metabox.postbox {
  border: 1px solid #709e30;
}
#poststuff #one-column-page-metabox.postbox .handlediv .toggle-indicator:before {
  color: white;
}
#poststuff div[id*="postbox-container-"] #two-column-page-metabox h2.hndle {
  color: white;
  background-color: #709e30;
}
#poststuff #two-column-page-metabox.postbox {
  border: 1px solid #709e30;
}
#poststuff #two-column-page-metabox.postbox .handlediv .toggle-indicator:before {
  color: white;
}
#poststuff button#add-new-gallery-image {
  margin-top: 50px;
}
#poststuff .advantage-set-group {
  margin: 10px 0;
}
#poststuff .advantage-set-group h3 {
  font-size: 20px;
}
li.wp-not-current-submenu a.toplevel_page_rtrrubbery_theme_options_page {
  background-color: #709e30;
}
li.toplevel_page_rtrrubbery_theme_options_page {
  background-color: #709e30;
}
.wp-list-table .column-ID {
  width: 7%;
}
.wp-list-table .column-header {
  width: 13%;
}
.wp-list-table .column-description {
  width: 60%;
}
.wp-list-table .column-image {
  width: 20%;
  text-align: center;
}
.wp-list-table .slider-list-image {
  max-width: 200px;
  width: 100%;
}
.add-sleder-form button,
.edit-slider-form button {
  font-size: 16px;
}
.add-sleder-form table input,
.edit-slider-form table input,
.add-sleder-form table textarea,
.edit-slider-form table textarea {
  width: 100%;
  border-color: #558e06;
}
.add-sleder-form table input[type=text]:focus,
.edit-slider-form table input[type=text]:focus,
.add-sleder-form table input[type=search]:focus,
.edit-slider-form table input[type=search]:focus,
.add-sleder-form table input[type=radio]:focus,
.edit-slider-form table input[type=radio]:focus,
.add-sleder-form table input[type=tel]:focus,
.edit-slider-form table input[type=tel]:focus,
.add-sleder-form table input[type=time]:focus,
.edit-slider-form table input[type=time]:focus,
.add-sleder-form table input[type=url]:focus,
.edit-slider-form table input[type=url]:focus,
.add-sleder-form table input[type=week]:focus,
.edit-slider-form table input[type=week]:focus,
.add-sleder-form table input[type=password]:focus,
.edit-slider-form table input[type=password]:focus,
.add-sleder-form table input[type=checkbox]:focus,
.edit-slider-form table input[type=checkbox]:focus,
.add-sleder-form table input[type=color]:focus,
.edit-slider-form table input[type=color]:focus,
.add-sleder-form table input[type=date]:focus,
.edit-slider-form table input[type=date]:focus,
.add-sleder-form table input[type=datetime]:focus,
.edit-slider-form table input[type=datetime]:focus,
.add-sleder-form table input[type=datetime-local]:focus,
.edit-slider-form table input[type=datetime-local]:focus,
.add-sleder-form table input[type=email]:focus,
.edit-slider-form table input[type=email]:focus,
.add-sleder-form table input[type=month]:focus,
.edit-slider-form table input[type=month]:focus,
.add-sleder-form table input[type=number]:focus,
.edit-slider-form table input[type=number]:focus,
.add-sleder-form table select:focus,
.edit-slider-form table select:focus,
.add-sleder-form table textarea:focus,
.edit-slider-form table textarea:focus {
  border-color: #28a745;
  box-shadow: 0 0 5px #28a745;
}
.add-sleder-form table td td,
.edit-slider-form table td td {
  padding: 0;
}
.sliders-list .column-header,
.sliders-list .column-description {
  font-size: 15px;
}
#image-preview-attachment {
  margin: 20px 0;
}
